html, body {
	height: 100%;
	margin: 0px;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  font-weight: lighter;
}

h2 {
  font-weight: lighter;
}

h3 {
  color: #0D89BD;
  font-weight: lighter;
}

p {
  font-weight: lighter;
}

.main-content {
	margin: 40px 0px;
  display: flex;
  height: 150vh;
  flex-direction: column;
}

.nav-container,
.footer-container {
	position: fixed;
	width: 100%;
	height: 40px;
    background-color: #0585CF;
    font-weight: lighter;
    display: flex;
	align-items: center;
	z-index: 100;
}

.nav-container {
	top: 0px;
	left: 0px;
}

.footer-container {
	left: 0px;
	bottom: 0px;
	justify-content: space-around;
}

.footer-container * {
	flex: 1;
	color: #CFFCFF;
	text-decoration: none;
	margin-left: 10%;
}

.links {
  margin-left: 10%;
}

.nav-container a:link,
.nav-container a:hover,
.nav-container a:active,
.nav-container a:visited {
  color: #CFFCFF;
  text-decoration: none;
  margin: 30px 20px 30px 0px;
  border-width: 0px 0px 1px 0px;
}

.nav-container a:hover,
.nav-container a.current {
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  padding-bottom: 8px;
}

.nav-container a.current {

}

.header-container {
  flex: 1.5;
  background-color: #0AA1DA;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
	min-height: 100px;
}

.header-container .name {
  margin-left: 10%;
}

.image {
	margin-right: 12%;
	max-height: 8%;
	width: auto;
}

.image > img {
	height: 100%;
	width: auto;
  border-radius: 50%;
}

.bio-container {
  flex: 1.5;
  background-color: #576268;
  box-shadow: inset 0 10px 10px rgba(0,0,0,0.25), inset 0 -3px 10px rgba(0,0,0,0.25);
}

.bio-container p {
    margin: 2% 10%;
}

.nav-container,
.header-container,
.bio-container {
  color: #ffffff;
}

.quals-container {
  flex: 12;
  display: flex;
}

.left-pane-container {
  flex: 2;
  background-color: #F7F7F7;
  padding-left: 1%;
  font-weight: lighter;
  font-size: 18;
  display: flex;
  flex-direction: column;
}

.left-pane-container > * {
  margin-left: 28%;
  margin-right: 10%;
}

.personal-row {
  display: flex;
  flex-wrap: wrap;
  margin: 3% 0;
}

.personal hr {
  border-top: 2px solid #EAEAEA;
}

.personal-row div:first-child {
  font-weight: bold;
}

.key {
  flex-basis: 35%;
}

.value {
  flex: 1;
}

.software-row {
  display: flex;
  margin: 3% 0;
}

.tech {
  flex-basis: 35%;
}

.meter {
  flex: 1;
}

.meter {
	height: 10px;
	position: relative;
	background: #D0D1D6;
}

.meter > span {
  display: block;
  height: 100%;
  background-color: #0D89BD;
  position: relative;
  overflow: hidden;
}

.hobbies {
	display: flex;
	flex-wrap: wrap;
}

.hobby {
	flex: 1 1 33%;
	align-content: space-around;
	justify-content: center;
	max-height: 10%;
	width: auto;
}

.hobby img {
	background: #0585CF;
	border-radius: 50%;
	height: 50%;
	width: 50%;
}

.right-pane-container {
  flex: 4;
  background-color: #EEEEEE;
  box-shadow: inset 10px 0 10px rgba(0,0,0,0.25);
}

.right-pane-container > * {
  margin-left: 5%;
  margin-right: 35;
}

.social-container {
  flex: 1.5;
  background-color: #0AA1DA;
	display: flex;
	margin-left: 10%;
	margin-right: 10%;
}

.social-info {
	flex: 1 1 33%;
	align-content: space-around;
	justify-content: center;
	max-height: 10%;
	width: auto;
	align-items: center;
}

.social-info a {
	color: #CFFCFF;
	text-decoration: none;
	font-weight: lighter;
}

.social-info img {
  background-color: #0585CF;
	border-radius: 50%;
	height: 50%;
	width: auto;
}
